<!DOCTYPE html>
<html>
<head>
    <title>My Containers</title>
    <!-- CSS styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <!-- navbar section starts -->
    <header class="header">
        <div class="logo">
            <h1> C L O U D *</h1>
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Home</a></li>
                <li><a href="#features">About</a></li>
                <li><a href="#download">Create Container</a></li>
                <li><a href="#footer">Contact</a></li>
                <li>
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>

        <div class="fas fa-bars" id="menu-btn"></div>
    </header>
    <!-- navbar section ends -->

    <br><br><br><br><br><br><br><br><br><br><br><br>
<section class="features" id="table"> 
    <div class="card contact-form-container">
    <div class="heading">
    <h1>My Containers</h1>
    <p>Welcome, {{ username }}</p>

    {% if containers %}
    <div class="book-list">
        <table>
            <thead>
                <tr>
                    <th>Container ID</th>
                    <th>Container Name</th>
                    <th>Published Port</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="book-list">
                {% for container in containers %}
                    <tr>
                        <td>{{ container.container_id }}</td>
                        <td>{{ container.container_name }}</td>
                        <td>ssh root@192.168.1.1 -p {{ container.published_port }}</td>
                        <td>{{ container.status }}</td>
                        <td>
                            {% if container.is_running %}
                                <form action="{{ url_for('stop_container') }}" method="POST">
                                    <input type="hidden" name="container_id" value="{{ container.container_id }}">
                                    <button type="submit" class="btn">
                                        Stop Container
                                    </button>
                                </form>
                            {% else %}
                                <button disabled class="btn">
                                    Stop Container
                                </button>
                            {% endif %}

                            <form action="{{ url_for('delete_container') }}" method="POST">
                                <input type="hidden" name="container_id" value="{{ container.container_id }}">
                                <input type="hidden" name="image_name" value="{{ container.image_name }}">
                                {% if container.is_running %}
                                    <button disabled class="btn">
                                        Delete Container
                                    </button>
                                {% else %}
                                    <button type="submit" class="btn">
                                        Delete Container
                                    </button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No containers created yet!</p>
    {% endif %}.
</div>
</div>
</div>
</section>
<section class="footer" id="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href="#home"><i class="fas fa-chevron-right"></i>HOME</a>
            <a href="#features"><i class="fas fa-chevron-right"></i>ABOUT</a>
            <a href="#download"><i class="fas fa-chevron-right"></i>CREATE CONTAINER</a>
            <a href="#table"><i class="fas fa-chevron-right"></i>MY CONTAINERS</a>
            <a href="#contact"><i class="fas fa-chevron-right"></i>CONTACT</a>
         </div>
         
         


        <div class="box" id="contact">
            <h3>contact info</h3>
            <a href="#"><i class="fas fa-phone"></i>+212523492335</a>
            <a href="#"><i class="fas fa-phone"></i>+212618534372</a>
            <a href="#"><i class="fas fa-envelope"></i>contact.ensak@usms.ma</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i> Ecole Nationale des Sciences Appliquées Bd Béni Amir, BP 7 Khouribga - Maroc.</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"><i class="fab fa-facebook-f"></i>facebook</a>
            <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
            <a href="#"><i class="fab fa-instagram"></i>instagram</a>
            <a href="#"><i class="fab fa-linkedin"></i>linkedin</a>
            <a href="#"><i class="fab fa-pinterest"></i>pinterest</a>
        </div>
    </div>


    <div class="credit">created by
        <a href="#" target="_blank"><span>IRIC II</span> | all rights reserved</a>
    </div>
</section>

 <!-- footer section ends -->


 <script src="js/main.js"></script>

</body>
</html>
